  <div class="panel-heading"><h4><span class="glyphicon glyphicon-" aria-hidden="true"></span> Login</h4></div>
  <div class="panel-body">

    <div class="alert alert-warning" role="alert">
      <strong>9 aprilie 2015</strong>: Ca urmare a relansării site-ului, parolele conturilor au fost anulate. Pentru a reseta parola contului tău, apasă pe linkul "Ai uitat parola?" de mai jos.   
    </div>
<div class="col-xs-12 col-sm-5" style="padding: 0; margin: 0">
<form role="form" action="/auth/local" method="post">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
      <input class="form-control" size="21" type="text" name="identifier" placeholder="Introdu Username sau Email">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span></div>
      <input class="form-control" size="21" type="password" name="password" placeholder="Introdu Parola">
    </div>
  </div>
  <button class="btn btn-primary" type="submit">&nbsp; &nbsp; Intră în cont &nbsp; &nbsp;</button> &nbsp; 
  <a href="#resetpassword" onclick="toggler('resetpass');">Ai uitat parola?</a>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

    <div id="resetpass" class="collapse">
        <hr>
        <form role="form-inline" action="/userreset" method="post">

          <div id="resetpassword" class="form-group">
            <label for="resetinput">Ai uitat parola? Introdu mai jos emailul sau username-ul tău:</label>
            <input type="text" name="identifier" class="form-control" id="resetinput" placeholder="email sau username">
          </div>
          <button type="submit" class="btn btn-primary">Reseteaza parola</button>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </form>
    </div>
</div>

<% if (typeof providers !== "undefined") {%>
  <% Object.keys(providers).forEach(function (key) { %>
    <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
  <% }) %>
<% } %>
