


  <div class="panel-heading"><h4><span class="glyphicon glyphicon-" aria-hidden="true"></span>Creeaza un cont nou</h4></div>
  <div class="panel-body">




<form role="form" class="form-horizontal" action="/auth/local/register" method="post">
  
  <div class="form-group">
    <label for="username" class="col-sm-3 control-label">Alege un username</label>
    <div class="col-sm-9">
      <input class="form-control" required type="text" id="username" name="username" value="<%= (null != data[0]) ? data[0].username : '' %>" placeholder="Alege un Username">
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="col-sm-3 control-label">Adresa ta de email</label>
    <div class="col-sm-9">
      <input class="form-control" required type="text" id="email" name="email" value="<%= (null != data[0]) ? data[0].email : '' %>" placeholder="Adresa de email">
    </div>
  </div>
  
  <div class="form-group">
    <label for="password" class="col-sm-3 control-label">Alege o parola</label>
    <div class="col-sm-9">
      <input class="form-control" required type="password" id="password" name="password" placeholder="minim 8 caractere">
    </div>
  </div>
  
  <div class="form-group">
    <label for="tel" class="col-sm-3 control-label">Numarul de mobil</label>
    <div class="col-sm-9">
      <input class="form-control" required type="tel" id="tel" name="tel" value="<%= (null != data[0]) ? data[0].tel : '' %>" placeholder="ex. 0740123456">
    </div>
  </div>

  <div class="form-group">
    <label for="firstname" class="col-sm-3 control-label">Prenume</label>
    <div class="col-sm-9">
      <input class="form-control" required type="text" id="firstname" name="firstname" value="<%= (null != data[0]) ? data[0].firstname : '' %>" placeholder="ex. Ion">
    </div>
  </div>
  
  <div class="form-group">
    <label for="lastname" class="col-sm-3 control-label">Nume de familie</label>
    <div class="col-sm-9">
      <input class="form-control" required type="text" id="lastname" name="lastname" value="<%= (null != data[0]) ? data[0].lastname : '' %>" placeholder="ex. Popescu">
    </div>
  </div>
  
  <div class="form-group">
    <label for="birthdate" class="col-sm-3 control-label">Data de nastere</label>
    <div class="col-sm-9">
      <input required class="form-control" style="cursor: pointer" type="text" id="birthdate" name="birthdate" value="<%= (null != data[0]) ? data[0].birthdate : '' %>" placeholder="Data de nastere">
    </div>
  </div>

  <div class="form-group">
    <label for="sex" class="col-sm-3 control-label">Sex</label>
    <div class="col-sm-9">
      <select id="sex" name="sex" class="form-control" required>
      <option value="">Alege</option>
      <option value="1"<% if(null != data[0] && data[0].sex == 1) { %> selected<% } %>>Masculin</option>
      <option value="2"<% if(null != data[0] && data[0].sex == 2) { %> selected<% } %>>Feminin</option>
      </select>
    </div>
  </div>
  
  <div class="form-group">
    <label for="weight" class="col-sm-3 control-label">Greutate (KG)</label>
    <div class="col-sm-9">
      <input class="form-control" required type="number" pattern="\d*" id="weight" name="weight" value="<%= (null != data[0]) ? data[0].weight : '' %>" placeholder="ex. 67">
    </div>
  </div>
  
  <div class="form-group">
    <label for="height" class="col-sm-3 control-label">Inaltime (CM)</label>
    <div class="col-sm-9">
      <input class="form-control" required type="number" pattern="\d*" id="height" name="height" value="<%= (null != data[0]) ? data[0].height : '' %>" placeholder="ex. 168">
    </div>
  </div>
  
 <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button class="btn btn-primary" type="submit">&nbsp; &nbsp; Inregistreaza-te &nbsp; &nbsp;</button>
    </div>
  </div>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

<hr>
<strong>Politica de confidentialitate</strong><br/>
Nu partajam cu nimeni datele tale de contact sau datele biometrice. Acestea ne sunt insa necesare pentru rularea aplicatiei (exemplu: trimiterea rezultatului prin sms, calcularea caloriilor arse in urma unei curse, etc).
