<% if (typeof errors !== "undefined") {%>
  <% errors.forEach(function (error) { %>
    <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
      <%- __(error) %>
    </div>
  <% }) %>
<% } %>

<% if (typeof success !== "undefined") {%>
  <% success.forEach(function (success) { %>
    <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
      <%- __(success) %>
    </div>
  <% }) %>
<% } %>

<% if (typeof req.session.answered !== "undefined" && req.session.answered == false && user.tel_c) {%>
<div class="panel panel-primary">
  <div class="panel-heading">
    <strong>Participi la următoarea noastră cursă (<%= sails.moment(sails.nextrace.date).locale('ro-RO').format('dddd, DD MMMM, [ora] HH:mm') %>)?</strong>
  </div>
  <div class="panel-body">

    <a class="btn btn-success btn-lg" role="button" href="/particip/da" style="margin-bottom:3px">Da, particip! :)
    </a>
    <a class="btn btn-danger btn-lg" role="button" href="/particip/nu" style="margin-bottom:3px">Nu..
    </a>
  </div>
</div>
<% } %>


    







