<!-- what loads at rezultate/cursa/xxxx -->
  <div class="panel-heading"><h4><span class="glyphicon glyphicon-th-list"></span> Rezultate Cursa #<%= race.id %></h4></div>
  <div class="panel-body">
  	<span class="glyphicon glyphicon-time"></span> <%= sails.moment(race.date).locale('ro').format('LL') %> &nbsp;
  	<span class="glyphicon glyphicon-map-marker"></span> <%= race.location.name %>, Bucuresti
  </div>
<table class="table table-striped">

<% 
	var medal = '';
	_.each(results, function(result) { 
%>
<tr data-id="<%= result.id %>" data-model="result">
<td width="70">
	<%
	medal = '';
	if(result.position == 1 ) medal = 'medal-gold';
	if(result.position == 2 ) medal = 'medal-silver';
	if(result.position == 3 ) medal = 'medal-bronze';
	%>
	&nbsp; <span class="glyphicon glyphicon-star medal <%= medal %>"></span> 

	<%= result.position %>
</td>
<td>
	<a href="/user/<%= result.user.username %>"><%= result.user.firstname %> <%= result.user.lastname %></a>
</td>
<td>
	<i class='glyphicon glyphicon-hourglass'></i> <%= sails.moment.utc(sails.moment(result.time).diff(sails.moment(race.date))).format("HH:mm:ss") %>
</td>
</tr>
<% }); %>
</table>
