<div class="panel-heading"><h4>Confirma numarul de telefon</h4></div>
<div class="panel-body">
	<form action="/confirmtel" method="post">
	  <div class="form-group">
	    <label for="smscode">Introdu codul de 6 cifre primit prin SMS</label>
	    <input type="text" class="form-control" name="smscode" id="smscode" placeholder="">
	  </div>
	  <button type="submit" class="btn btn-primary">Confirma telefonul</button>
	  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>