<div class="panel-heading"><h4><strong><%= user.firstname %> <%= user.lastname %></strong></h4></div>
<div class="panel-body">

<div class="row">
  <div class="col-md-2 col-xs-4">
    <img src="/images/avatar.png" class="img-rounded img-responsive">
  </div>
  <div class="col-md-6 col-xs-8">
      
    <ul class="list-group">
      <li class="list-group-item"><i class='glyphicon glyphicon-user'></i>&nbsp; <%= user.username %> - <a href="#" data-toggle="modal" data-target="#myModal">Modifică datele</a></li>
      <li class="list-group-item"><i class='glyphicon glyphicon-envelope'></i>&nbsp; <%= user.email %>, <%= user.tel %></li>
      <li class="list-group-item"><i class='glyphicon glyphicon-scale'></i>&nbsp; <%= sails.moment().diff(user.birthdate, 'years') %> ani, <%= user.height %> cm, <%= user.weight %> kg</li>
    </ul> 

  </div>
  <div class="col-md-4 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <center><h4><%= results.length %><br>participări la curse
      </div>
    </div>
  </div>
</div>


&nbsp;


<%- partial ('../parts/user-results.ejs') %>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modifică datele</h4>
      </div>
      <div class="modal-body">
      


        <form role="form" class="form-horizontal" action="/profil" method="post">
          
          <div class="form-group">
            <label for="firstname" class="col-sm-3 control-label">Prenume</label>
            <div class="col-sm-9">
              <input class="form-control" required="true" type="text" id="firstname" name="firstname" value="<%= user.firstname %>" placeholder="">
            </div>
          </div>
          
          <div class="form-group">
            <label for="lastname" class="col-sm-3 control-label">Nume de familie</label>
            <div class="col-sm-9">
              <input class="form-control" required="true" type="text" id="lastname" name="lastname" value="<%= user.lastname %>" placeholder="">
            </div>
          </div>
          
          <div class="form-group">
            <label for="birthdate" class="col-sm-3 control-label">Data de naștere</label>
            <div class="col-sm-9">
              <input class="form-control" required="true" type="text" id="birthdate" name="birthdate" value="<%= sails.moment(user.birthdate).format('YYYY[-]MM[-]DD') %>" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label for="sex" class="col-sm-3 control-label">Sex</label>
            <div class="col-sm-9">
              <select id="sex" name="sex" required="true" class="form-control">
              <option value="">Alege</option>
              <option value="1"<% if(user.sex == 1) { %> selected<% } %>>Masculin</option>
              <option value="2"<% if(user.sex == 2) { %> selected<% } %>>Feminin</option>
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <label for="weight" class="col-sm-3 control-label">Greutate (KG)</label>
            <div class="col-sm-9">
              <input class="form-control" required="true" type="number" pattern="\d*" id="weight" name="weight" value="<%= user.weight %>" placeholder="">
            </div>
          </div>
          
          <div class="form-group">
            <label for="height" class="col-sm-3 control-label">Inălțime (CM)</label>
            <div class="col-sm-9">
              <input class="form-control" required="true" type="number" pattern="\d*" id="height" name="height" value="<%= user.height %>" placeholder="">
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Anulează</button>
        <input class="btn btn-primary" type="submit" value="Salvează">
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </form>
      </div>
    </div>
  </div>
</div>

