<div class="panel-heading"><h4><span class="glyphicon glyphicon-" aria-hidden="true"></span><%= username %> - Reseteaza-ti Parola</h4></div>
  <div class="panel-body">

  
  
    <form class="form-horizontal" action="/resetpass/<%= username %>/<%= token %>" method="post">
      <input type="hidden" name="token" value="<%= token %>">
      <input type="hidden" name="username" value="<%= username %>">
      <div class="form-group">
        <label for="inputpass" class="col-sm-2 control-label">Introdu o noua parola</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputpass" name="pass1">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPass2" class="col-sm-2 control-label">Confirma noua parola</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPass2" name="pass2">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Reseteaza parola</button>
        </div>
      </div>
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>
  </div> 
