<div class="panel-heading"><h4><strong><%= utilizator.firstname %> <%= utilizator.lastname %></strong></h4></div>
<div class="panel-body">

<div class="row">
  <div class="col-md-2 col-xs-4">
    <img src="/images/avatar.png" class="img-rounded img-responsive">
  </div>
  <div class="col-md-6 col-xs-8">
      
    <ul class="list-group">
      <li class="list-group-item"><i class='glyphicon glyphicon-user'></i>&nbsp; <%= utilizator.username %></li>
      <li class="list-group-item"><i class='glyphicon glyphicon-certificate'></i>&nbsp; <%= sails.moment().diff(utilizator.birthdate, 'years') %> ani</li>
    </ul> 

  </div>
  <div class="col-md-4 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <center><h4><%= utilizator.results.length %><br>participări la curse
      </div>
    </div>
  </div>
</div>


&nbsp;

    <%- partial ('../parts/user-results.ejs') %>

