  <div class="panel-heading"><h4><span class="glyphicon glyphicon-glyphicon glyphicon-th-list" aria-hidden="true"></span> Rezultate cursa <%= races.id %>: <%= races.location %> </h4></div>
  <div class="panel-body"><span class="glyphicon glyphicon-glyphicon glyphicon-time" aria-hidden="true"></span> 12 decembrie &nbsp; <span class="glyphicon glyphicon-glyphicon glyphicon-map-marker" aria-hidden="true"></span> Parcul Tineretului, Bucuresti</div>
<table class="table">
<tr>
    <th>pozitie</th>
    <th>user</th>
</tr>
<% _.each(races.results, function(result) { %>
<tr data-id="<%= result.id %>" data-model="result">
<td><%= result.position %></td>
<td><%= result.user %></td>
</tr>
<% }) %>
</table>
