  <div class="panel-heading"><h4><span class="glyphicon glyphicon-glyphicon glyphicon-calendar" aria-hidden="true"></span> Rezultate curse</h4></div>
  <div class="panel-body">Aici poți vedea istoricul curselor organizate de noi.</div>
  <table class="table table-striped">
  <% _.each(races, function(race) { %>
    <tr data-id="<%= race.id %>" data-model="race">
      <td>&nbsp; <strong><a href="rezultate/cursa/<%= race.id %>">Cursa #<%= race.id %></a></strong></td>
      <td><%= sails.moment(race.date).locale('ro').fromNow() %></td>
      <td><%= race.results.length %> alergători</td>
      <td><%= race.location.name %></td>
    </tr>
  <% }) %>
  </table>