      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Meniu site</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> <strong>Alerg.eu</strong></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="<%= (req.options.controller === 'static' && req.options.action === 'homepage') ? 'active' : '' %>"><a href="/">Home</a></li>
              <li class="dropdown <%= (req.options.controller === 'static' && req.options.action !== 'homepage') ? 'active' : '' %>">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Informații <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/info">&bull; Întrebări frecvente</a></li>
                  <li><a href="/traseu">&bull; Traseu</a></li>
                  <li><a href="/contact">&bull; Contactează-ne</a></li>
                </ul>
              </li>
              <li class="<%= (req.options.controller === 'race') ? 'active' : '' %>"><a href="/rezultate">Rezultate</a></li>
              <li class="<%= (req.options.action === 'news') ? 'active' : '' %>"><a href="/noutati">Noutăți sportive</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              
            <% if (req.session.authenticated) { %>
              <% if(user.admin) { %>
                <li><a href="/admin"><span class="glyphicon glyphicon-cog"></span> Admin</a></li>
              <% } %>
              <li class="<%= (req.options.action === 'profil') ? 'active' : '' %>">
                <a href="/profil"><span class="glyphicon glyphicon-user"></span> 
                <strong><%= user.username %></strong>
                </a>
              </li>
              <li><a href="/logout"><span class="glyphicon glyphicon-glyphicon glyphicon-remove" aria-hidden="true"></span> Iesi din cont</a></li>
            <% } else { %>          
              <li><a href="/login"><span class="glyphicon glyphicon-check"></span> Intră în cont</a></li>
              <li><a href="/register"><span class="glyphicon glyphicon-edit"></span> Înregistrează-te</a></li>
            <% } %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>   
