<div class="panel panel-info">
  <div class="panel-heading">
    <strong>Rezultate curse</strong>
  </div>

  <% if (results.length != 0) { %>
    <table class="table table-striped">
    <% _.each(results, function(result) { %>
      <tr data-id="<%= result.race.id %>" data-model="result">
        <td><i class='glyphicon glyphicon-flag'></i> 
        <a href="/rezultate/cursa/<%= result.race.id %>">Cursa #<%= result.race.id %></a>
        </td>
        <td><i class='glyphicon glyphicon-star'></i> Locul <%= result.position %></td>
        <td><i class='glyphicon glyphicon-time'></i> <%= sails.moment(result.race.date).locale('ro').fromNow() %></td>
        <td><i class='glyphicon glyphicon-hourglass'></i> <%= sails.moment.utc(sails.moment(result.time).diff(sails.moment(result.race.date))).format("HH:mm:ss") %></td>
      </tr>
    <% }) %>
    </table>
  <% } else { %>
    <div class="panel-body">Nu ai participat la nici o cursă incă!</div>
  <% } %>
</div>