body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

#fb-root {
    display: none;
}

/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
.fb-container {
	min-height: 350px;
	vertical-align: text-bottom;
}

.medal {
	color: #000;
}
.medal-gold {
	color: #ffd700;
}
.medal-silver {
	color: #C0C0C0;
}
.medal-bronze {
	color: #cd7f32;
}

.home {
	min-height: 400px;
}
.logo-prov {
	margin-left: 30px;
}
@media(max-width: 768px) {
	.logo-prov {
		width: 118px;
		height: 38px;
	}
}