  <div class="panel-heading"><h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact</h4></div>
  <div class="panel-body">
    <img src="/images/contact2.png"><br>&nbsp;<br>
    Pentru orice fel de intrebari, probleme sau sugestii legate de proiectul Alerg.eu,<br> te rugam sa ne trimiti un e-mail
    la adresa <img src="/images/mail.png">, sau ne poti suna la <b>0740.858.797</b>.
  
  </div>

