</div>



	<div class="row">
	  <div class="col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-default home">
		  <div class="panel-heading">Hai la alergat!</div>
	      <div class="panel-body">
	      	<img src="/images/p1.jpg" width=100%><hr>
	      	Organizăm alergări periodice de 5 kilometri pe un traseu în Parcul Tineretului. Oricine poate participa gratuit. Te așteptăm și pe tine, tot ce trebuie să faci este să te înregistrezi și să confirmi participarea la următoarea noastră cursă.
	      </div>
	    </div>
	  </div>
	  <div class="col-md-4 col-sm-6 col-xs-12">
	      
		<div class="panel panel-default home">
		  <div class="panel-heading">Următoarea cursă:</div>
	      <div class="panel-body">
	      	<h2><span id="clock"></span></h2>
	      	<hr>
	      	<% if(typeof sails.nextrace != 'undefined') { %>
	      	<span class="glyphicon glyphicon-time"></span> <%= sails.moment(sails.nextrace.date).locale('ro-RO').format('dddd, DD MMMM, [ora] HH:mm') %><br/>
	      	<% } else {%>
	      	Momentan nu este planificată nici o cursă.<br/>
	      	<% } %>


	      	<span class="glyphicon glyphicon-map-marker"></span> Parcul Tineretului, Bucuresti (intrarea Șincai)

	      	<hr>
	      	<a href="/participanti"><strong>Vezi cine participă</strong></a> la următoarea cursă. 

	      	<% if (typeof req.session.answer !== "undefined") { %>
	      		<% if (req.session.answer) { %> 
	      			<br/><strong><%= user.firstname %></strong>, ai anunțat că participi la următoarea cursă. Daca te-ai răzgândit, <a href="/particip/nu"><strong>click aici</strong></a>.
	      		<% } else { %>
	      			<br/><strong><%= user.firstname %></strong>, ai anunțat că <strong>NU participi</strong> la această cursă. Dacă te-ai răzgândit, <a href="/particip/da"><strong>click aici</strong></a> și te trecem pe listă.
	      		<% } %>
	      	<% } %>

			<% if (typeof req.session.authenticated == "undefined") { %>
	      	<hr>
	      	<a class="btn btn-primary btn-lg" role="button" href="/register" style="margin-bottom:3px">Inregistreaza-te »</a>
	      	<a class="btn btn-success btn-lg" role="button" href="/login" style="margin-bottom:3px">Login</a>

	      	<% } %>

	      </div>
	    </div>

	  </div>
	  <div class="col-md-4 col-sm-12 col-xs-12">
	    <div class="panel panel-default home fb-container">
	      <div class="panel-heading">Hai să fim prieteni!</div>
	      <div class="panel-body">
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1448101615425445";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-like-box" data-href="https://www.facebook.com/alerg.eu" data-width=1085 data-height="258" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
			<hr>
			<a href="https://www.facebook.com/alerg.eu/photos_stream?tab=photos_albums" target="_blank">Vezi albumele</a> de poze de la alergarile anterioare.
	      </div>
	    </div>
	  </div>
	</div>