  <div class="panel-heading"><h4><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Intrebari frecvente</h4></div>
  <div class="panel-body">
    <dl>
        <dt>Ce este Alerg.eu?
        <dd>Este un proiect prin care ne propunem sa orgănizam periodic competiții de alergat. Participarea la competiții este gratuită pentru oricine!
        
        <P>
        <dt>Cum pot participa și eu la curse?
        <dd>Uite ce trebuie să faci:
        <ol>
            <li>Înregistrează-te, apoi confirmă-ți adresa de e-mail și numărul de mobil</li>
            <li>Înainte de fiecare cursă, intră pe site și confirmă participarea</li>
            <li>Vino cu cel putin 10-15 minute înainte de începerea cursei la punctul de întâlnire. <br/><strong>Ai grijă să îți iei mobilul cu tine, și să ai credit pentru a suna la numărul nostru (tarif normal): <i>0312.294.999</i></strong></li>
            <li>După ce treci linia de finish, sună la numărul de mai sus. Roboțelul nostru te va adăuga automat în clasamentul de pe site.</li>
        </ol>
        
        <P/>
        <dt>Cand și unde are loc evenimentul?
        <dd>Evenimentul are loc periodic, în parcul Tineretului. Du-te la <a href="/"><u>pagina principală</u></a> pentru a vedea când are loc următoarea cursă.
        <P>

        <dt>Se pot inscrie și copii?
        <dd>Da, însă doar cu acordul părinților sau însoțiți de părinți.

        <P>
        <dt>Am o altă întrebare!
        <dd><a href="/contact"><u>Contactează-ne</u></a>
    </dl>
</div>
