  <div class="panel-heading"><h4> Noutăți sportive</h4></div>
  <div class="panel-body">

    <h2>Intra in concurs si castiga 3 locuri la URBATLON 2015</h2>
    <img src="/media/2.jpg"><br/>
    Concursul este adresat tuturor pasionatilor de miscare si adrenalina<br/>
    Pe 20 iunie 2015, portile Arenei Nationale se deschid pentru cea mai tare cursa cu obstacole a verii: URBATLON 2015! Daca iubiti miscarea si doriti sa aveti parte de o competitie plina de provocari, cu un final spumos, trebuie sa intrati in joc. 
    Alerg.eu, partener al evenimentului URBATLON, va lanseaza o invitatie de a intra in concurs si a castiga 3 locuri gratuite la cea de a doua editie a competitiei!<br/>
    Ce trebuie sa faceti pentru a intra in concurs si a avea sansa de a castiga un loc gratuit la URBATLON 2015:
    1. Spune-ne care este obiectul de care nu te desparti la nicio cursa de alergare si posteaza o imagine cu acesta! Poate sa fie echipamentul preferat, accesoriu sau gadget. Imaginea trebuie postata la anuntul de concurs de pe pagina <a href="http://facebook.com/alerg.eu" target="_blank">Facebook</a> Alerg.eu, in perioada 8-14 iunie, dar nu mai tarziu de ora 23:59, in ultima zi de concurs;<br/>
    2. Sustineti pagina <a href="http://facebook.com/urbatlon.ro" target="_blank">Facebook</a> URBATLON si pe cea <a href="http://facebook.com/alerg.eu" target="_blank">Facebook</a> Alerg.eu, cu doua „Likes”! :)<br/>
    3. Urmariti pagina <a href="http://facebook.com/alerg.eu" target="_blank">Facebook</a> Alerg.eu pentru a vedea daca va numarati printre castigatorii alesi prin tragere la sorti prin random.org, pe data pe 15 iunie.<br/>
    Daca ati castigat, lasati-ne adresa de e-mail intr-un mesaj privat. Apoi inregistrati-va online pe pagina http://www.urbatlon.ro/inscrieri-2/ si apoi anuntati-ne pe e-mail (http://www.urbatlon.ro/contact-page/) ca ati incheiat procedura de inscriere pentru a obtine validarea locului gratuit la URBATLON. In perioada 18-19 iunie, veniti si ridicati pachetul de participare la URBATLON, cu tricou, numar si cip de concurs, de la Mall Promenada, conform programului de pe site: http://www.urbatlon.ro/schedule/. <br/>
<br/>
    Concursul se desfasoara exclusiv pe pagina Facebook Alerg.eu de luni, 8 iunie, pana duminica, 14 iunie, ora 23:59.
    Nu ratati un super eveniment care va testeaza capacitatea de miscare, dar si de distractie! La URBATLON va asteapta un traseu de alergare de 5 kilometri pe durata caruia veti trece prin 9 probe sportive, ce va vor oferi doze maxime de energie vara aceasta! <br/>
    Detalii despre evenimentul URBATLON puteti obtine si la telefon sunand la numarul +4031.805.40.42 sau in scris la: events@mpg.com.ro.<br />
  
<br/><br/>

    <h2>OMV Petrom Bucharest Half Marathon</h2>
    <img src="/media/1.jpg"><br/>
    Ultimele zile de inscrieri online la cel mai important eveniment de alergare al primaverii, din Romania - OMV Petrom Bucharest Half Marathon! Alege oricare dintre cursele pentru adulti sau pentru copii si vino sa sarbatorim miscarea in aer liber, alergarea si stilul de viata sanatos.<br />
    Detalii pe site-ul evenimentului, <a href="http://www.bucuresti21km.ro" target="_blank">www.bucuresti21km.ro</a>.
  
  </div>

