<div class="panel-body">
<iframe id="mapmyfitness_route" src="http://snippets.mapmycdn.com/routes/view/embedded/396074328?width=600&height=380&&line_color=E60f0bdb&rgbhex=DB0B0E&distance_markers=1&unit_type=metric&map_mode=ROADMAP&last_updated=2014-04-19T18:37:17+03:00" height="440" width="100%" frameborder="0"></iframe>
<br>
Zona este accesibila cu urmatoarele mijloace de transport în comun:<br>
-Metrou: Staţia Tineretului – aprox. 200m<br>
-RATB (autobuz/troleu/tramvai): Statia Liceul Gheorghe Sincai – mijloace de transport 312, 313, 323, 381, N105, N106, N112, 116 si tramvai 1.
</div>
