  <div class="panel-heading">
  	<h4>Participanți la cursa #<%= sails.nextrace.id %> | <strong><%= sails.moment(sails.nextrace.date).locale('ro-RO').format('dddd, DD MMMM, [ora] HH:mm') %></strong> </h4>
  </div>

  <div class="panel-body">

<table class="table">
<% _.each(participants, function(participant) { %>
<tr data-id="<%= participant.id %>" data-model="result">
<td>
	<a href="/user/<%= participant.user.username %>"><%= participant.user.firstname %> <%= participant.user.lastname %></a>
</td>
</tr>
<% }); %>
</table>

</div>
